.header {
  display: flex;
  align-items: space-between;
  flex-direction: column;

  padding: 2rem;
  gap: 2rem;
  margin-bottom: 2rem;

  background-image: linear-gradient(
    45deg,
    var(--primary-color),
    var(--secondary-color)
  );
}

.title,
.search-div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}

.title {
  padding: 0 1.5rem 0 1.5rem;
}

.title h1 {
  color: var(--background-color);
  font-family: var(--highlight-font);
  font-size: 1.5rem;
  font-weight: 400;
  padding: 0.5rem 0;
}

.search-div #search {
  width: 55.5%;
  background-color: rgba(255, 255, 255, 0.226);
  color: var(--background-color);
  font-family: var(--content-font);
  font-size: 1.25rem;
  font-weight: 400;
  padding: 1.25rem;
  border: none;
  outline: none;
  margin-bottom: 2rem;
  border-radius: 5px;
  text-align: justify;
}

.search-div #search::placeholder {
  background-image: url(../img/search-icon.svg);
  background-size: 1rem 1rem;
  background-repeat: no-repeat;
  background-position: 0.25rem center;

  color: var(--white-color);
  opacity: 0.5;
  font-family: var(--content-font);
  font-size: 1.25rem;
  font-weight: 400;
  transition: all 300ms ease-in-out;
  padding-left: 1.75rem;
}

.search-div #search:focus::placeholder {
  opacity: 0.8;
}

.main-div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
}

.div-data-heart {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.main-div h2 {
  color: var(--highlight-content-color);
  font-family: var(--highlight-font);
  font-size: 2rem;
  font-weight: 400;
}

.main-div .article {
  width: 53vw;
}

.article {
  padding: 2rem;
  background-color: var(--white-color);
  border-radius: 6px;
  margin-top: 2rem;
  box-shadow: 0px 0px 10px rgba(19, 19, 31, 0.05);

  transition: all 200ms ease-in-out;

  width: 100%;
  height: auto;
}

.article:hover {
  box-shadow: 0px 0px 10px rgba(19, 19, 31, 0.26);
}

.article p {
  color: var(--content-color);
  font-family: var(--highlight-font);
  font-size: 1.25rem;
  font-weight: 400;
  padding: 0.5rem 0;
}

.article .post-data {
  color: var(--content-color);
  font-family: var(--highlight-font);
  font-size: 1rem;
  font-weight: 400;
}

.article img:hover {
  fill: red;
}

/* Footer */
#footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0 1rem 0;
  margin-bottom: 1rem;
}

#footer a {
  color: var(--highlight-content-color);
  transition: all 200ms ease-in-out;
  text-decoration: none;
  padding: 1rem;
  border-radius: 6px;
}

#footer a:hover {
  background-color: var(--white-color);
  font-weight: bold;
  box-shadow: 0px 0px 10px rgba(19, 19, 31, 0.05);
}

@media (max-width: 600px) {
  .header {
    font-size: 0.5rem;
    padding: 2rem 0rem;
  }

  .header .title {
    width: auto;
    padding: 0rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 2.5rem;
  }

  .header .title h1 {
    padding: 0;
    margin: 0;
  }

  .header .search-div {
    width: auto;
    padding: 0rem;

    display: grid;
    grid-template-columns: 1fr;
    margin: 0 2.5rem;
  }

  .header .search-div #search {
    width: auto;
  }

  .main-div {
    font-size: 0.5rem;
    padding: 0rem 2.5rem;
  }

  .main-div .article {
    margin: 0 auto;
    width: auto;
  }
}
